{% extends "auctions/layout.html" %} 

{% block title %} Create new Listing {% endblock %}

{% block body %}
    <div class="mt-3">
        <form action="{% url 'new_listing' %}" method="post" class="form-group" style="max-width:480px;">
            {% csrf_token %}
            {{new_listing_form}}
            <br>
            <select name="category" class="form-select" id="">
                <option selected>Select one category</option>
                {% for category in categories %}
                <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
            </select>
            <div class="col-auto"><br>
            <button type="submit" class="btn btn-primary mb-3">Choose</button>
            </div>
        </form>
    </div>
{% endblock %}